header{
    min-height: 90px;
    background-color: #ecc6d9;
}
h1{
    text-align: center;
    color: #990099;
}
nav{
    min-height: 90px;
    color:#009999;
    font-weight: bold;
    background-color: #f3d8e5;
}
main{
    background-color: #ffffb3;
}
h2{
    color:#cc6699;
    text-align: center;
}
form{
    width: 40%;
    margin: 40px auto 0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-weight: bold;
}
footer{
    color: #446600;
    text-align: center;
    font-weight: bold;
    min-height: 90px;
    background-color: #eeccff;
}
#pictures{
    display: inline-table;
    background-color: #ffffb3;
}
h3{
    color: #446600;
}
p{
    font-weight: bold;
    font-size: 20px;
}